@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


/* *{
  font-family: "Winky Rough", sans-serif;
} */

*{
   font-family: "Outfit", sans-serif;
}

/* to hide scroll bar */
::-webkit-scrollbar{  
  display: none;
}

@keyframes gentle-bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-gentle-bounce {
  animation: gentle-bounce 4s infinite;
}
